body {
  background-color: #282828;
}

#pix-sketch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5em;
}

button {
  background-color: #555;
  border: solid #333 1px;
  cursor: pointer;
  color: #fff;
  padding: 0.25em 0.75em;
}

button:hover {
  background-color: #333;
}

button .selected {
  background-color: #777;
}

input[type='range'] {
  -webkit-appearance: none;
  background: #777;
  height: 3px;
  margin: 1em 0.5em;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 100%;
  width: 13px;
  height: 13px;
  background: #333;
  cursor: pointer;
}

input[type='color'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
}

input[type='radio'] {
  display: none;
}

input[type='radio'] + label {
  cursor: pointer;
}

input[type='radio'] + label > button {
  pointer-events: none;
  width: 100%;
}

input[type='radio']:checked + label > button {
  background-color: #777;
}

input[type='radio'] + label:hover > button {
  background-color: #777;
}

#toolbar, #canvas {
  background-color: #777;
  border: solid #333 2px;
  padding: 0.5em;
}

.tool-container {
  background-color: #555;
}

.tool-container-header {
  background-color: #777;
  margin-bottom: -1px;
}

.tool-container-header button {
  border: solid #333 1px;
  border-bottom: none;
}

.tool-container-body {
  border: solid #333 1px;
  padding: 2px;
  max-width: calc(18px * 8 - 2px);
}

.tool-container-body button {
  background-color: #333;
  border-radius: 4px;
}

.tool-container-body button:hover {
  background-color: #777;
}

#toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

#color-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#color-palette-body {
  min-height: calc(18px * 3 - 2px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 2px;
}

.palette-item {
  width: 16px;
  height: 16px;
}

.selected-palette {
  border: solid grey 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#tools {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 4px;
}

#tools button {
  padding-left: 0;
  padding-right: 0;
}

#grid-sizer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#grid-sizer-container label {
  color: white;
  text-align: center;
}

#canvas {
  padding: 0;
  display: -ms-grid;
  display: grid;
  background-color: #aaa;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
  border: solid #aaa 1px;
  grid-gap: 1px;
  height: 400px;
  min-width: 400px;
}

#canvas.hide-grid-lines {
  grid-gap: 0px;
}

.pixel {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  background-color: white;
}

.pixel:hover {
  background-color: #aaa;
}
/*# sourceMappingURL=style.css.map */